* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', open-sans;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

section#header {
  background-color: pink;
  width: 100%;
  box-shadow: 5px 10px #888888;
  text-align: center;
}

section#about-this-course {
  background: yellow;
  margin: 20px;
  position: absolute;
  top: 48px;
  width: 40%;
  align-self: flex-end;
  padding: 1rem;
  border-style: solid;
  border-width: 5px;
}

section#about-the-instructor {
  background: green;
  border-style: solid;
  border-color: purple;
  margin: 1rem;
  padding: 1rem;
  color: white;
  max-width: 40rem;

}